*.class
#*.gitignore
*.settings
# Package Files #
*.jar
*.war
*.ear
*.iml
*/target/*
/.settings/
/.idea/
*/.idea
*/.idea/
*/.gitignore
*.project
**.classpath
*.metadata
springworkcloud/



HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/